.news{
    position: relative;
    padding: 120px 0 120px 0;
    // background-color: var(--bs-primary); 
    background-color: transparent;
    background-image: linear-gradient(180deg, #D6ECE1 0%, #FFFFFF 100%);
    .confidance{
        .details{
                span{
                    color: var(--bs-secondary-color);
                    font-size: 24px;
                    font-family: var(--bs-primary-font);
                    line-height: 1;
                }
                h2{
                    color:var(--bs-primary-500);
                    font-family: var(--bs-primary-font);
                    font-weight: 700;
                    text-transform: capitalize;
                    font-size: 35px;
                    line-height: 54px;
                    letter-spacing: 1px;
                    margin: 0 0 50px 0;
                }
        }
    }
    .row{
        .w-4{
            padding: 15px;
            .main-box{
                .box-1{
                    background-color: var(--bs-white);
                    .description{
                        padding: 25px;
                        display: block;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 34px;
                        color: var(--bs-gray);
                        h4{
                            font-size: 20px;
                            font-family: var(--bs-primary-font);
                            color: var(--bs-primary-500);
                            margin-bottom: 10px;
                            letter-spacing: 0;
                            line-height: 28px;
                        }
                        p{
                            color: var(--bs-gray);
                            font-family: var(--bs-paragraph-font);
                            font-size: 16px;
                            font-weight: 400;
                            margin-bottom: 15px;
                        }
                        .bdt-post-card-button{
                            color: var(--bs-secondary-color);
                            font-weight: 600;
                            cursor:pointer;
                            font-size: 18px;
                            line-height: 34px;
                            font-family: var( --bs-paragraph-font) ;
                        }
                    }
                    // &:nth-child(2){
                    //     background-color: var(--bs-white);
                    //     .main-box{
                    //         margin-top: -20px;
                    //         .card-img{
                    //             display: block;
                    //             overflow: hidden;
                    //             img{
                    //                 padding-top: 20px;
                    //                 transform: scale(1.33);
                    //             }
                    //         }
                    //     }
    
                    // }
                }
            }
       
        }
    }
    .shape-bottom{
        position: absolute;
        left: 0;
        transform: rotate(180deg);
        width: 100%;
        line-height: 0;
        bottom: -1px;
        overflow: hidden;
        svg{
            width: calc(300% + 1.3px);
            height: 105px;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%) rotateY(180deg);
            path{
                fill: var(--bs-white);
            }
        }
    }
}